/* src/styles/ListaTransacoes.css */
.lista-transacoes {
  background-color: white;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  margin-top: 2rem;
}

.lista-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.lista-header h2 {
  margin: 0;
  color: rgba(13, 13, 44, 0.8);
}

.ver-todas {
  color: #2b5bff;
  text-decoration: none;
  font-weight: bold;
}

.ver-todas:hover {
  text-decoration: underline;
}

.itens-container {
  display: flex;
  flex-direction: column;
}